<settings>
	<proxies>
		<proxy>
			<id>http-proxy</id>
			<active>true</active>
			<protocol>http</protocol>
			<host>135.245.192.7</host>
			<port>8000</port>
			<nonProxyHosts>localhost|nx0012|csfar.nextenso.alcatel.fr
			</nonProxyHosts>
		</proxy>
		<proxy>
			<id>https-proxy</id>
			<active>true</active>
			<protocol>https</protocol>
			<host>135.245.192.7</host>
			<port>8000</port>
			<nonProxyHosts>localhost|nx0012|csfar.nextenso.alcatel.fr
			</nonProxyHosts>
		</proxy>
	</proxies>
</settings>